<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for循环普通数组</title>
    <script src="./vue.min.js"></script>
</head>

<body>

    <div id="app">
        <p>{{ list }}</p>
        <p>{{ list[0] }}</p>
        <hr>

        <p v-for="item in list">{{ item }}</p>
        <hr>

        <p v-for="(item, i) in list">{{ i }} ---> {{ item }}</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [1, 2, 3, 4, 5],
            },
            methods: {},
        })
    </script>

</body>

</html>