<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for中key的使用</title>
    <script src="./vue.min.js"></script>
</head>

<body>

    <div id="app">

        <div>
            <label>Id:
                <input type="text" v-model="id">
            </label>

            <label>Name:
                <input type="text" v-model="name">
            </label>

            <input type="button" value="添加" @click="add">
        </div>

        <!-- 注意：v-for 循环的时候 key 属性只能使用 number/string -->
        <!-- 注意：key 在使用的时候必须使用 v-bind 属性绑定的形式指定 key 的值 -->
        <!--  -->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox">
            {{item.id}} ==> {{item.name}}
        </p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                list: [
                    { id: 1, name: 'zhangsan' },
                    { id: 2, name: 'lisi' },
                    { id: 3, name: 'wangwu' },
                    { id: 4, name: 'zhaoliu' },
                ]
            },
            methods: {
                add() {
                    // this.list.push({ id: this.id, name: this.name })
                    this.list.unshift({ id: this.id, name: this.name })
                }
            },
        })
    </script>

</body>

</html>